{% extends 'base.html' %}
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    {% block content %}
        <h1> Jugandoo !</h1>
            <table class="table">
              {% for jugador in jugadores%}
              <tr> 
                <td> nombre de jugador: {{ jugador }}</td>
              </tr>
              {% empty %}
              <p>Error al imprimir nombre de jugadores : / </p>
              {% endfor %}
            </table>

        {% if current_user.turno == turno %}
            <p> Ejemplo de Imagen a colocar </p>
            <TH>
                  <img src="../static/piezas/{{piezaid}}.png"  width="100" height="100" />
            </TH>
            <p> Tu turno <p/>

            <form name="ingresar cuit" action="{% url 'jugar_partida' %}" method="POST">
                {% csrf_token %}
                <p> Ingrese posicion X de la pieza: <input type="number" name="pos_x"> </p>
                <p>Ingrese posicion Y de la pieza: <input type="number" name="pos_y"> </p>
                <p>Giros sentido horario (90 grados): <input type="number" name="cant_giros"> </p>

                <input type="submit" value="Colocar">
            </form>
        {% endif %}
        <br>
            <button onclick="myFunction()">Actualizar</button>
        </br>
        <script>
            function myFunction() {
                  location.reload(true);
            }
        </script>



        <table  border="6" cellpadding="1" cellspacing="3" width="50%">
            <tr width="50%" bgcolor="7FFFD4">
            <script>
            // script para mostrar mapa dinamicamente (es decir, se muestran las piezas que se van agregando)
            // La idea, es que a este html se le pasa un tag coordenadas, que es una lista de las imagenes de las piezas(path) y las posociones (x,y) de cada una
            // asi se forma una matriz con estos datos, y se la muestra como una tabla.
            // coordenadas[i] = ( x_posi , y_posi, Pathi)

                // devuelve un arreglo de tamanio N donde cada elemento del arreglo es elem
                function crear_arreglo(N,elem) {
                  var arr = [];
                   for (var i=0;i<N;i++) {
                      arr[i] = elem;
                    }
                    return arr;
                }

                // devuelve una matriz NxN donde cada celda es elem
                function crear_matriz(N,elem) {
                    var arr = [];
                    for (var i=0;i<N;i++) {
                      arr[i] = crear_arreglo(N,elem);
                    }
                    return arr;
                }
                
                // imprime el arreglo
                function array_print (arr) {
                  var N = arr.length;
                  for (var i = 0 ; i < N; i++) {
                    document.write(arr[i]);
                  };
                }

                // imprime la matriz en forma de tabla
                function print_matriz (matriz) {
                  var N = matriz.length;
                  for (var i = 0; i < N; i++) {
                    document.write("<tr>");
                    array_print(matriz[i]);
                    document.write("</tr>");
                  };
                }
 
                // agrega el elemento a la posicion x,y de la matriz
                // pre x,y son validos
                function agregar_elem_matriz(matriz,x,y,elem) {
                  matriz[y][x] = elem
                  return matriz;
                }

                var humo = '<th> <img src="../static/piezas/IniciarJuego.jpg"  width="100" height="100" /> </th>'

                // por defecto el mapa sera de 60x60 aunque es trivial cambiarlo si se quiere
                function crear_mapa_actualizado(x_list, y_list, path_list) {
                    var mapa = crear_matriz(60,humo);
                    var pieza = ''
                    for (var i = 0; i < x_list.length; i++) {
                      pieza = '<th> <img src="../static/'+path_list[i]+'"  width="100" height="100" /> </th>';
                      mapa = agregar_elem_matriz(mapa, x_list[i], y_list[i], pieza);
                    };
                    return mapa;
                }
                // SE LLAMARIA A crear_mapa_actualizado( del tag coordenadas
                // se imprimiria la matriz resultante




function lista_objetos (string) {
    var c;
    var i = 0;
    var tmp = '';
    var lista_objetos = [];
    var obj;
      //document.write("luna");

    while (i < string.length) {

          c = string.charAt(i);
          if (c == '{') {
            tmp = c;
            while (c != '}') {
              c = string.charAt(i);
              tmp = tmp + c;
              i = i + 1;
            }
            tmp = tmp + c;
      tmp = tmp.slice(1);
      document.write(tmp);

            obj = JSON.parse(tmp);  
            lista_objetos.push(obj);

          }
          i = i + 1;
    }
    return lista_objetos;
  }

var piezas = "{{piezas}}"; 
document.write("Esto es una lista deberia ser un objeto");
document.write(piezas);

var objetos =lista_objetos(piezas);
  var x_list = []
  var y_list = []
  var path_list = []

  for (var i = 0; i < objetos.length; i++) {
    x_list.push((objetos[i].fields.pos_x));
    y_list.push((objetos[i].fields.pos_y));
    path_list.push((objetos[i].fields.path));

  };

          var nueva_matriz = crear_mapa_actualizado(x_list, y_list, path_list);
                print_matriz(nueva_matriz);


            </script>
            </tr>
        </table>
    {% endblock %}
