<!doctype html>
<html>
    <head>
     Por mejorar mapa
    </head>
        <BODY onload="document.getElementById('A1').focus();">

    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza5/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza5.png' name="Pieza5" width="100" height="100" id="Pieza5"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
    
    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/005/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/005.png' name="Celda005" width="100" height="100" id="Celda005"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>

<script>
var celda = '<TH> <a href= \'{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza21/{{PiezaAPoner}}\' ><img src=\'{{UrlDeStatic}}/JugarPartida/mapapieza21.png\' name="Pieza21" width="100" height="100" id="Pieza21"onerror="this.src=\'{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg\';"></a></TH>';
var code = '<TH> COMILLA \'  </TH>';
document.write(celda);
</script>

            <CENTER>
                <table  border="6" cellpadding="1" cellspacing="3" width="50%">
                   <tr width="50%" bgcolor="7FFFD4">
                    <th>Coordenadas</th>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                    <th>13</th>
                    <th>14</th>
                    <th>15</th>
                    <th>16</th>
                    <th>17</th>
                    <th>18</th>
                    <th>19</th>
                    <th>20</th>
                   </tr>

                   <th>1</th>
                    <tr>
                   <script>
                   for (var i = 0; i < 20; i++) {
                    var columna = '<TH> <a href= "{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza1/{{PiezaAPoner}}" >
                           <img src="{{UrlDeStatic}}/JugarPartida/mapapieza1.png" name="Pieza1" width="100" height="100" id="Pieza1" onerror="this.src="{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg";"></a></TH>';
                       document.write(columna);
                   };
                   document.write("ANDUVO");
                   </script>
                   </tr>
                    <tr>
                    <th>2</th>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza21/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza21.png' name="Pieza21" width="100" height="100" id="Pieza21"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza22/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza22.png' name="Pieza22" width="100" height="100" id="Pieza22"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza23/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza23.png' name="Pieza23" width="100" height="100" id="Pieza23"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza24/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza24.png' name="Pieza24" width="100" height="100" id="Pieza24"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza25/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza25.png' name="Pieza25" width="100" height="100" id="Pieza25"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza26/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza26.png' name="Pieza26" width="100" height="100" id="Pieza26"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza27/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza27.png' name="Pieza27" width="100" height="100" id="Pieza27"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza28/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza28.png' name="Pieza28" width="100" height="100" id="Pieza28"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza29/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza29.png' name="Pieza29" width="100" height="100" id="Pieza29"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza30/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza30.png' name="Pieza30" width="100" height="100" id="Pieza30"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza31/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza31.png' name="Pieza31" width="100" height="100" id="Pieza31"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza32/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza32.png' name="Pieza32" width="100" height="100" id="Pieza32"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza33/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza33.png' name="Pieza33" width="100" height="100" id="Pieza33"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza34/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza34.png' name="Pieza34" width="100" height="100" id="Pieza34"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza35/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza35.png' name="Pieza35" width="100" height="100" id="Pieza35"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza36/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza36.png' name="Pieza36" width="100" height="100" id="Pieza36"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza37/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza37.png' name="Pieza37" width="100" height="100" id="Pieza37"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza38/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza38.png' name="Pieza38" width="100" height="100" id="Pieza38"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza39/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza39.png' name="Pieza39" width="100" height="100" id="Pieza39"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                    <TH> <a href= '{{UrlDeUrlConfig}}/partida/{{partidaid}}/incrustarpieza/mapapieza40/{{PiezaAPoner}}' ><img src='{{UrlDeStatic}}/JugarPartida/mapapieza40.png' name="Pieza40" width="100" height="100" id="Pieza40"onerror="this.src='{{UrlDeStatic}}/JugarPartida/IniciarJuego.jpg';"></a></TH>
                   </tr>
                </table>
            </CENTER>
    </BODY>

</html>